/* tracking.css */

/* 1. Forzamos al componente de tu compañero a usar el 100% real */
.component-mapDashboard {
  display: block;
  height: 100%;
  width: 100%;
}

/* 2. Reseteamos el contenedor interno que tenía los cálculos raros */
.component-mapDashboard ::ng-deep .relative.w-\[calc\(100\%\+2\.50rem\)\] {
  margin: 0 !important;      /* Quitamos el -mx-5 y -mb-5 */
  width: 100% !important;    /* Ancho exacto al contenedor */
  height: 100% !important;   /* Alto exacto */
  position: absolute !important;
  top: 0;
  left: 0;
}

/* 3. Matamos el padding de la Card base para que el mapa toque los bordes */
.component-mapDashboard ::ng-deep .app-card-content {
  padding: 0 !important;
}

/* 4. Aseguramos que el mapa de Leaflet rellene todo */
.component-mapDashboard ::ng-deep #mapContainer {
  height: 500px !important; /* O el alto que le diste a tu contenedor en el HTML */
  border-radius: 0 0 1rem 1rem; /* Mantiene las esquinas de abajo redondeadas */
}
