<article class="min-[1048px]:col-span-5 xl:col-span-4 h-125 bg-white rounded-2xl border border-gray-100 shadow-sm p-6 flex flex-col">
    <div class="flex items-center gap-2 mb-7 shrink-0">
      <div class="flex items-center justify-center text-blue-500 h-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 21q-3.45 0-6.012-2.287T3.05 13H5.1q.35 2.6 2.313 4.3T12 19q2.925 0 4.963-2.037T19 12t-2.037-4.962T12 5q-1.725 0-3.225.8T6.25 8H9v2H3V4h2v2.35q1.275-1.6 3.113-2.475T12 3q1.875 0 3.513.713t2.85 1.924t1.925 2.85T21 12t-.712 3.513t-1.925 2.85t-2.85 1.925T12 21m2.8-4.8L11 12.4V7h2v4.6l3.2 3.2z"/></svg>
      </div>
      <h3 class="text-xl font-bold text-slate-800 tracking-tight leading-none">Shipment History</h3>
    </div>

    <div class="relative grow custom-scrollbar">
      @for (step of history; track step.status; let i = $index) {
        <div class="relative flex gap-5 mb-8 last:mb-0">
          <div class="relative flex flex-col items-center min-w-8">
            <div [class]="step.active ?
              'h-8 w-8 rounded-full bg-white border-[3px] border-blue-500 shadow-lg shadow-blue-300 flex items-center justify-center z-20 animate-pulse-slow' :
              (step.completed ?
                'h-8 w-8 rounded-full bg-blue-500 text-white flex items-center justify-center z-10 shadow-sm' :
                'h-8 w-8 rounded-full bg-white border-2 border-slate-200 text-slate-300 flex items-center justify-center z-10')">

              @if (step.active) {
                <div class="h-2 w-2 rounded-full bg-blue-500 shadow-[0_0_8px_rgba(59,130,246,0.6)]"></div>
              } @else if (step.completed) {
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>
              }
            </div>

            @if (i < history.length - 1) {
              <div class="absolute top-9 -bottom-7 w-0.5 rounded-full"
                [class]="step.completed ? 'bg-blue-500' : 'bg-slate-100'">
              </div>
            }
          </div>

          <div class="flex flex-col pt-0.5 min-w-0">
            <h4 [class]="step.active ? 'text-[15px] font-bold text-slate-800 leading-tight' : 'text-[15px] font-bold text-slate-400 leading-tight'">
              {{ step.status.replace(/_/g, ' ') }}
            </h4>
            <p class="text-sm text-slate-400 font-medium mt-0.5">{{ step.location }}</p>

            @if (step.description) {
              <p class="text-sm text-slate-400 font-medium mt-0.5">
                {{ step.description }}
              </p>
            }

            <p [class]="step.active ? 'text-[11px] text-blue-500 font-bold mt-1' : 'text-[11px] text-slate-400 mt-1 font-medium'">
              {{ step.date }} @if(step.time){, {{ step.time }}}
            </p>
          </div>
        </div>
      }
    </div>
  </article>
