<div class="flex flex-col items-center gap-4 w-full">
  <div class="relative w-24 h-80 bg-slate-50/50 rounded-t-xl overflow-hidden flex flex-col justify-end shadow-inner">
    <div class="w-full bg-[#E3F2FD] absolute top-0" [style.height.%]="100 - porcentaje()">
    </div>
    <div class="w-full bg-[#1E88E5] transition-all duration-700 ease-out z-10" [style.height.%]="porcentaje()">
    </div>
  </div>
  <span class="text-slate-500 text-sm font-semibold tracking-wide uppercase">{{ region() }}</span>
</div>