<div class="flex items-center justify-between py-1">
  <div class="flex flex-col">
    <span class="text-sm font-bold text-slate-700">{{ label }}</span>
    <p class="text-[11px] text-slate-400 leading-tight">{{ description }}</p>
  </div>

  <label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" [checked]="isActive" class="sr-only peer">
    <div class="w-10 h-5 bg-slate-200 peer-focus:outline-none rounded-full peer
                peer-checked:after:translate-x-5 peer-checked:after:border-white
                after:content-[''] after:absolute after:top-[2px] after:left-[2px]
                after:bg-white after:border-gray-300 after:border after:rounded-full
                after:h-4 after:w-4 after:transition-all peer-checked:bg-blue-500">
    </div>
  </label>
</div>
