<section>
  <div class="mx-auto max-w-auto">
    <app-card>

      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 pb-4">
        <div class="w-full md:w-1/3">
          <form class="flex items-center">
            <label for="user-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewbox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <input type="text" id="user-search" (input)="onSearch($event)"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2 focus:ring-primary focus:border-primary"
                placeholder="Search by User ID, Name, Email..." required="">
            </div>
          </form>
        </div>

        <div class="w-full md:w-auto flex justify-end">
          <button
            class="flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 cursor-pointer"
            type="button">
            Filters
          </button>
        </div>
      </div>

      <div class="overflow-x-auto min-h-full">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
              <th scope="col" class="p-4">
                <div class="flex items-center">
                  <input id="checkbox-all" type="checkbox" [checked]="isAllSelected()" (change)="toggleAll()"
                    class="w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded focus:ring-primary cursor-pointer">
                </div>
              </th>
              <th scope="col" class="px-4 py-3">User</th>
              <th scope="col" class="px-4 py-3">User ID</th>
              <th scope="col" class="px-4 py-3 text-center">Active Shipments</th>
              <th scope="col" class="px-4 py-3">Status</th>
              <th scope="col" class="px-4 py-3 text-right">Actions</th>
            </tr>
          </thead>
          <tbody>

            @for (user of filteredUsers(); track user.id) {
            <tr class="border-b border-gray-300 hover:bg-gray-50 transition-colors">

              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input [id]="'chk-' + user.id" type="checkbox" [checked]="selectedUserIds().has(user.id)"
                    (change)="toggleSelection(user.id)"
                    class="w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded focus:ring-primary cursor-pointer">
                </div>
              </td>

              <td class="px-4 py-3 whitespace-nowrap">
                <div class="flex items-center">

                  <div class="shrink-0 h-10 w-10">
                    <app-avatar [fullName]="user.fullName" [avatarColor]="user.avatarColor" shape="square">
                    </app-avatar>
                  </div>

                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">{{ user.fullName }}</div>
                    <div class="text-sm text-gray-500">{{ user.email }}</div>
                  </div>
                </div>
              </td>

              <td class="px-4 py-3 text-gray-500">#{{ user.id | uppercase }}</td>

              <td class="px-4 py-3 text-center">
                <span
                  class="text-m font-semibold px-2.5 py-0.5 text-black">
                  {{ user.activeShipment }}
                </span>
              </td>

              <td class="px-4 py-3">
                <app-status-badge [status]="user.status" />
              </td>

              <td class="px-4 py-3 text-right">
                <div class="relative inline-block text-left">
                  <button (click)="toggleDropdown(user.id, $event)"
                    class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none cursor-pointer">
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20">
                      <path
                        d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                    </svg>
                  </button>

                  @if (activeDropdownId() === user.id) {
                  <div
                    class="absolute right-0 top-8 z-50 w-44 bg-white rounded divide-y divide-gray-100 shadow-lg border border-gray-200 text-left">
                    <ul class="py-1 text-sm text-gray-700">
                      <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">View profile</a></li>
                      <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Edit details</a></li>
                    </ul>
                    <div class="py-1">
                      <a href="#" class="block py-2 px-4 text-sm text-red-600 hover:bg-gray-100">Delete User</a>
                    </div>
                  </div>
                  <div (click)="activeDropdownId.set(null)" class="fixed inset-0 z-40 bg-transparent"></div>
                  }
                </div>
              </td>

            </tr>
            } @empty {
            <tr>
              <td colspan="6" class="text-center py-8 text-gray-500">No users found.</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <nav
        class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4 border-t border-gray-200"
        aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500">
          Showing <span class="font-semibold text-gray-900">{{filteredUsers().length }}</span> of <span class="font-semibold text-gray-900">{{ users().length
            }}</span>
        </span>
        <ul class="inline-flex items-stretch -space-x-px">
          <li>
            <a href="#"
              class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
              <span class="sr-only">Previous</span>
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
              <span class="sr-only">Next</span>
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </app-card>
  </div>
</section>
